
<!-- UIkit CSS -->




<link rel="stylesheet" href="/css/extra.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/granim.min.js"></script>
<script src="/js/tilt.jquery.js"></script>

<!-- This is a button toggling the off-canvas -->
<section class="parent uk-animation-stroke header-bar">
<canvas class="background" id="nav"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    <div class="center-screen">
        <div class="parent">
            <div class="parent js-tilt logo" id="logo">
                <canvas id="canvas-basic"></canvas>
                <div class="child">
                    <a href="/index.html">
                        <img src="/imgs/neal.png" id="profile-pic" />
                    </a>
                </div>

            </div>

        </div>



    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a class="l-inactive" id="l1" href="/blog">Blog</a></li>
                <li><a class="l-inactive" id="l2" href="/resume">Resume</a></li>
                <li><a class="l-inactive" id="l3" href="/about">About</a></li>
            </ul>
        </div>
    </nav>
    <ul class="uk-iconnav uk-navbar-transparent">
        <li><a href="https://github.com/nealpointerexception" uk-icon="icon: github"></a></li>
        <li><a href="" uk-icon="icon: linkedin"></a></li>
    </ul>
</div>
<script src="/js/main.js"></script>
<!-- Create a Granim instance -->
<script>
    // blog resume about
    let links = [document.getElementById("l1"), document.getElementById("l2"), document.getElementById("l3")]
    let sPath = window.location.pathname;
    let sPage = sPath.substring(sPath.lastIndexOf('/') + 1);

    if(sPage === "blog"){
        links[0].style.color = "#ffffff"
    }
    else if(sPage === "resume"){
        links[1].style.color = "#ffffff"
    }
    else if(sPage === "about"){
        links[2].style.color = "#ffffff"
    }

</script>

</section>
